<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postladneem Beats</title>
    <link rel="icon"
          href="https://i.scdn.co/image/ab6761610000e5ebe689fe5b3724107b34cbb743">
    <style>
        body {
            background-image: url('https://tntmusic.ru/media/content/article/2020-07-31_15-52-53__e52495ce-d345-11ea-b2d3-e7bb315c2d29.jpg');
            background-size: cover;
        }

        .container {
            padding-top: 1%;
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
    {% include 'header.html' %}
{% else %}
    {% include 'header_unauthorized.html' %}
{% endif %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <p style="text-align: center">
                    <h1 class="h1" style="text-align: center">{{ beat.name }}</h1>
                    <br>
                    <form class="form-group" method="post" action="/edit_action/?id={{ beat.pk }}">
                        <label for="name">
                            <strong>Поменять название:</strong>
                            <br>
                            <input class="form-control" name="name" id="name" type="text" value="{{ beat.name }}">
                        </label>
                        <br>
                        <br>
                        <label for="description">
                            <strong>Поменять описание:</strong>
                            <br>
                            <textarea id="description" name="description" placeholder="Введите описание" rows="3"
                                      class="form-control" cols="45">{{ beat.description }}</textarea>
                        </label>
                        <br>
                        <br>
                        <label for="genre">
                            <strong>Укажите жанр:</strong>
                            <select class="form-select" id="genre" name="genre">
                                <option selected value="{{ beat.genre.pk }}">{{ beat.genre }}</option>
                                {% for genre in genres %}
                                    <option value="{{ genre.pk }}">{{ genre }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <br>
                        <br>
                        <label for="bpm">
                            <strong>Указать BPM:</strong>
                            <br>
                            <input class="form-control" name="bpm" id="bpm" type="number" value="{{ beat.bpm }}">
                        </label>
                        <br>
                        <br>
                        <label for="key"><strong>Укажите тональность:</strong>
                            <br>
                            <select class="form-select" id="key" name="key">
                                {% for key in keys %}
                                    <option value="{{ key.pk }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-outline-secondary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>